<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="microsoft-build-tools"/>
	<package id="dotnetcore-sdk"/>
	<package id="netfx-4.6.2-devpack"/>	
	<package id="netfx-4.7.1-devpack"/>
	<package id="iisexpress" ignoreChecksum="true"/>	
	<package id="jetbrains-rider"/>	
</packages>

<!-- 
	Azurite

	SqlServerExpress (localdb) https://www.microsoft.com/en-us/download/details.aspx?id=55994
	
	Start-Process "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" -ArgumentList 'modify --installPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools" --quiet --add Microsoft.VisualStudio.Component.NuGet.BuildTools --add Microsoft.VisualStudio.Workload.WebBuildTools --add Microsoft.VisualStudio.Workload.NetCoreBuildTools --norestart --force' -Wait -PassThru
		
-->